<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.macs.mybatis.mapper.RoleMapper">
    
    <select id="getRole" parameterType="long" resultMap="roleMap">
        select id , role_name as roleName, note from t_role
        where id = #{id}
    </select>
    
    <insert id="insertRole" parameterType="role"
            useGeneratedKeys="true"
            keyProperty="id">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select if(max(id) is null, 1, max(id) + 2)
            as newId from t_role
        </selectKey>
        insert into t_role(id, role_name, note)
        values (#{id}, #{roleName}, #{note})
    </insert>

    <delete id="deleteRole" parameterType="long">
        delete from t_role where id = #{id}
    </delete>
    
    <!--<select id="getAllRoles" resultType="role">-->
        <!--select id, role_name as roleName , note from t_role-->
    <!--</select>-->
    
    <resultMap id="roleMap" type="role">
        <id column="id" property="id" javaType="long" jdbcType="BIGINT" />
        <result column="role_name" property="roleName" javaType="string" jdbcType="VARCHAR"
                typeHandler="com.jd.macs.mybatis.typehandler.MyStringTypeHandler"/>
        <result column="note" property="note" jdbcType="VARCHAR" javaType="string" />
    </resultMap>


    <select id="findRole" parameterType="string" resultMap="roleMap">
        select id, role_name, note from t_role
        where role_name like concat('%',
        #{roleName}, '%')
    </select>

    <select id="findRoleByMap" parameterType="map" resultMap="roleMap">
        select id, role_name, note from t_role
        where role_name like concat('%',
        #{roleName}, '%')
        and note like concat('%',#{note},'%')
    </select>

    <select id="findRoleByAnnotation" resultMap="roleMap">
        select id, role_name, note from t_role
        where role_name like concat('%',
        #{roleName}, '%')
        and note like concat('%',#{note},'%')
    </select>

    <select id="findRoleByParams"
            parameterType="com.jd.macs.mybatis.params.RoleParam"
            resultMap="roleMap">
        select id, role_name, note from t_role
        where role_name like concat('%',
        #{roleName}, '%')
        and note like concat('%',#{note},'%')
    </select>

    <update id="updateRole" parameterType="role">
        update t_role
        set role_name = #{roleName},
            role = #{role}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from ${tableName} where id = #{id}
    </delete>

</mapper>