<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties" />

    <!--<settings>-->
        <!--<setting name="autoMappingBehavior" value="NONE" />-->
    <!--</settings>-->

    <typeAliases>
        <package name="com.jd.macs.mybatis.po" />
    </typeAliases>

    <typeHandlers>
        <!--<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"-->
            <!--javaType="com.jd.macs.mybatis.enums.Sex" jdbcType="SMALLINT" />-->
        <!--<typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.jd.macs.mybatis.enums.Sex"-->
            <!--jdbcType="VARCHAR" />-->

        <typeHandler handler="com.jd.macs.mybatis.typehandler.MyEnumTypeHandler"
                     jdbcType="SMALLINT" javaType="com.jd.macs.mybatis.enums.Sex" />
    </typeHandlers>
    
    <!--<objectFactory type="com.jd.macs.mybatis.objectfactory.MyObjectFactory" />-->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="com.jd.macs.mybatis.database.DbcpDataSourceFactory" >
                <property name="driver" value="${db.driver}" />
                <property name="url" value="${db.url}" />
                <property name="username" value="${db.username}" />
                <property name="password" value="${db.password}" />
            </dataSource>
        </environment>
    </environments>
    
    <databaseIdProvider type="com.jd.macs.mybatis.databaseIdprovider.MydatabaseIdProvider">
        <property name="MYSQL" value="mysql" />
    </databaseIdProvider>

    <mappers>
        <mapper resource="mappers/RoleMapper.xml" />
        <mapper resource="mappers/UserMapper.xml" />
        <!--<mapper class="com.jd.macs.mybatis.mapper.UserMapper" />-->
    </mappers>
</configuration>