<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties" />

    <typeAliases>
        <package name="com.jd.macs.mybatis.po" />
    </typeAliases>

    <typeHandlers>
        <!--<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"-->
            <!--javaType="com.jd.macs.mybatis.enums.Sex" jdbcType="SMALLINT" />-->
        <!--<typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.jd.macs.mybatis.enums.Sex"-->
            <!--jdbcType="VARCHAR" />-->

        <!--<typeHandler handler="com.jd.macs.mybatis.typehandler.MyEnumTypeHandler"-->
                     <!--jdbcType="SMALLINT" javaType="com.jd.macs.mybatis.enums.Sex" />-->
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED" >
                <property name="driver" value="${db.driver}" />
                <property name="url" value="${db.url}" />
                <property name="username" value="${db.username}" />
                <property name="password" value="${db.password}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/RoleMapper.xml" />
        <mapper resource="mappers/UserMapper.xml" />
    </mappers>
</configuration>